<% if flash[:alert] %>
  <div class='alert alert-danger'>
    <%= flash[:alert] %>
  </div>
<% end %>

<% word = @board.dictionary_entry.word %>
<% centre_letter = word[@board.centre_letter_offset] %>
<% other_letters = word[0...@board.centre_letter_offset] + word[@board.centre_letter_offset+1..-1] %>
<% shuffled_letters = word.chars.shuffle(random: Random.new(@board.word_shuffle_seed)) %>
<% grid_letters = shuffled_letters[0..3] + [centre_letter] + shuffled_letters[5..8] %>

<div id="grid">
<% grid_letters.each_slice(3) do |row| %>
    <div class="leftfiller-0"></div>
    <% row.each do |cell| %>
      <div class="letter-cell"><%= cell %></div>
    <% end %>
    <div class="rightfiller"></div>
<% end %>
</div>
<div>
  <%= form_tag({controller: 'submitted_word', action: 'create', board_id: @board.id}, method: 'post', remote: false) do %>
    <%= text_field_tag 'word', '', { autofocus: true } %>
    <%= submit_tag 'Submit word' %>
  <% end %>
</div>

<p>Score: <%= @board.submitted_words.size %>/<%= @max_score %>

<p>Words</p>
<div>
  <ol>
    <% @board.submitted_words.map { |submitted_word| submitted_word.dictionary_entry.word }.each do |word| %>
      <li><%= word %></li>
    <% end %>
  </ol>
</div>
