<% if flash[:alert] %>
  <div class='alert alert-danger'>
    <%= flash[:alert] %>
  </div>
<% end %>

<div id="grid">
  <% @board_presenter.grid.each do |row| %>
    <div class="leftfiller-0"></div>
    <% row.each do |cell| %>
      <% if cell.centre %>
        <div class="letter-cell centre-letter"><%= cell.letter %></div>
      <% else %>
        <div class="letter-cell"><%= cell.letter %></div>
      <% end %>
    <% end %>
    <div class="rightfiller"></div>
  <% end %>
</div>
<div>
  <%= form_tag({controller: 'submitted_word', action: 'create', board_id: @board_presenter.id}, method: 'post', remote: false) do %>
    <%= text_field_tag 'word', '', { autofocus: true } %>
    <%= submit_tag 'Submit word' %>
  <% end %>
</div>

<p>Score: <%= @board_presenter.score%>/<%= @board_presenter.maximum_score %>

<p>Words</p>
<div>
  <ol>
    <% @board_presenter.words.each do |word| %>
      <li><%= word %></li>
    <% end %>
  </ol>
</div>
