<% if flash[:alert] %>
  <div class='alert alert-danger'>
    <%= flash[:alert] %>
  </div>
<% end %>

<div id="grid">
    <div class="leftfiller-0"></div>
    <div class="letter-cell"><%= @board_presenter.grid[0][0] %></div>
    <div class="letter-cell"><%= @board_presenter.grid[0][1] %></div>
    <div class="letter-cell"><%= @board_presenter.grid[0][2] %></div>
    <div class="rightfiller"></div>
    <div class="leftfiller-0"></div>
    <div class="letter-cell"><%= @board_presenter.grid[1][0] %></div>
    <div class="letter-cell centre-letter"><%= @board_presenter.grid[1][1] %></div>
    <div class="letter-cell"><%= @board_presenter.grid[1][2] %></div>
    <div class="rightfiller"></div>
    <div class="leftfiller-0"></div>
    <div class="letter-cell"><%= @board_presenter.grid[2][0] %></div>
    <div class="letter-cell"><%= @board_presenter.grid[2][1] %></div>
    <div class="letter-cell"><%= @board_presenter.grid[2][2] %></div>
    <div class="rightfiller"></div>
</div>
<div>
  <%= form_tag({controller: 'submitted_word', action: 'create', board_id: @board_presenter.id}, method: 'post', remote: false) do %>
    <%= text_field_tag 'word', '', { autofocus: true } %>
    <%= submit_tag 'Submit word' %>
  <% end %>
</div>

<p>Score: <%= @board_presenter.score%>/<%= @board_presenter.maximum_score %>

<p>Words</p>
<div>
  <ol>
    <% @board_presenter.words.each do |word| %>
      <li><%= word %></li>
    <% end %>
  </ol>
</div>
