<% if flash[:alert] %>
  <div class='alert alert-danger'>
    <%= flash[:alert] %>
  </div>
<% end %>

<div id="grid">
  <% @board_presenter.rows.each do |row| %>
    <div class="leftfiller-0"></div>
    <% row.each do |cell| %>
      <div class="letter-cell <%= "centre-letter" if cell.centre %>"><%= cell.letter %></div>
    <% end %>
    <div class="rightfiller"></div>
  <% end %>
</div>
<div>
  <%= form_tag(board_submitted_word_index_path(board_id: @board_presenter.id), method: 'post') do %>
    <%= text_field_tag 'word', '', { autofocus: true, required: true, placeholder: "Enter word" } %>
    <%= submit_tag 'Submit word' %>
  <% end %>
</div>

<p>Score: <%= @board_presenter.score%>/<%= @board_presenter.maximum_score %>

<p>Words</p>
<div>
  <ol>
    <% @board_presenter.words.each do |word| %>
      <li><%= word %></li>
    <% end %>
  </ol>
</div>
